<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>event-details</title>
</head>
<body>
    <% if(message) { %>
    <div class="container">
     To : <%= message.receiverNo %> 
     <br>  
     Subject :   <%= message.subject %>
     <br>
     Body : <%= message.body %> 
    </div>
    <% } %>
    <% if(email) { %>
    <div class="container">
    To : <%= email.to %> 
    <br>  
    Subject :   <%= email.subject %>
    <br>
    Body : <%= email.text %> 
    </div>
    <% } %>    
</body>
</html>